.userProfile{
    width: max-content;
    box-shadow:5px 5px 15px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);

}
.userName{
    background-color: #252525;
    color: white;
    margin: 0;
    padding: 5%;
    font-size: 2rem;
    font-weight: bold;
}
.userEmail,.userPhone{
    margin: 0% 5%;
    padding: 5% 0%;
    border-bottom: 1px solid #252525;
}
.userAddress{
    margin: 0% 5%;
    padding: 5% 0%;
}
@media only screen and (min-width:992px) {

  }
  @media only screen and (max-width:991px) {
    .userProfile{
        width: 100%;
    }
  }